<body>
    <div class="tm-container">
        <div>
            <app-navbar></app-navbar>
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title">Breaking Bad Room</h2>
                        <p class="mb-5">As you’re out wandering deep in the desert wastelands of New Mexico
                            you spy a shady looking RV. It’s covered in bullet holes. Inside you find an array of intricate
                            lab equipment and something is bubbling….</p>
                        <hr class="mb-5">
    <!--                    <div class="col-lg-12">-->
                            <div class="tm-bg-white-transparent-calendar tm-app-feature-box">
                                <!-- <div class="tm-app-feature-icon-container">
                                    <i class="fas fa-3x fa-binoculars tm-app-feature-icon"></i>
                                </div> -->
                                <div class="tm-app-feature-description-box">
                                    <table>
                                        <thead class="tableHeaderRow">
                                        <tr>
                                            <th></th>
                                            <th>
                                                <span class="day">1</span>
                                                <span class="long">Monday</span>
                                            </th>
                                            <th>
                                                <span class="day">2</span>
                                                <span class="long">Tuesday</span>
                                            </th>
                                            <th>
                                                <span class="day">3</span>
                                                <span class="long">Wendsday</span>
                                            </th>
                                            <th>
                                                <span class="day">4</span>
                                                <span class="long">Thursday</span>
                                            </th>
                                            <th>
                                                <span class="day active">5</span>
                                                <span class="long">Friday</span>
                                            </th>
                                            <th>
                                                <span class="day">6</span>
                                                <span class="long">Saturday</span>
                                            </th>
                                            <th>
                                                <span class="day">7</span>
                                                <span class="long">Sunday</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="hour tableHeaderRow"><span>12:00</span></td>
                                            <td><input id="success" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success1" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success2" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success3" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success4" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success5" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success6" class='myclass btnGreen' type='button'/></td>
                                        </tr>
                                        <tr>
                                            <td class="hour tableHeaderRow"><span>13:00</span></td>
                                            <td><input id="success7" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success8" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success9" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success10" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success11" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success12" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success13" class='myclass btnGreen' type='button'/></td>
                                        </tr>
                                        <tr>
                                            <td class="hour tableHeaderRow"><span>14:00</span></td>
                                            <td><input id="success14" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success15" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success16" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success17" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success18" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success19" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success20" class='myclass btnGreen' type='button'/></td>
                                        </tr>
                                        <tr>
                                            <td class="hour tableHeaderRow"><span>15:00</span></td>
                                            <td><input id="success21" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success22" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success23" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success24" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success25" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success26" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success27" class='myclass btnGreen' type='button'/></td>
                                        </tr>
                                        <tr>
                                            <td class="hour tableHeaderRow"><span>16:00</span></td>
                                            <td><input id="success28" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success29" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success30" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success31" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success32" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success33" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success34" class='myclass btnGreen' type='button'/></td>
                                        </tr>
                                        <tr>
                                            <td class="hour tableHeaderRow"><span>17:00</span></td>
                                            <td><input id="success35" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success36" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success37" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success38" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success39" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success40" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success41" class='myclass btnGreen' type='button'/></td>
                                        </tr>
                                        <tr>
                                            <td class="hour tableHeaderRow"><span>18:00</span></td>
                                            <td><input id="success42" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success43" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success44" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success45" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success46" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success47" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success48" class='myclass btnGreen' type='button'/></td>
                                        </tr>
                                        <tr>
                                            <td class="hour tableHeaderRow"><span>19:00</span></td>
                                            <td><input id="success49" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success50" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success51" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success52" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success53" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success54" class='myclass btnGreen' type='button'/></td>
                                            <td><input id="success55" class='myclass btnGreen' type='button'/></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
    <!--                    </div>-->
                        <a  routerLink="/rooms/room1" class="btn btn-primary">Next Room</a>
                    </section>
                </main>
            </div>
        </div>
    
        <!-- Diagonal background design -->
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>
    </body>
