<ul>
    <li><div class="header">
        <img  src="assets/images/decrypt.png" width="100px" />
      </div>
    </li>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/rooms">Rooms</a></li>
    <li><a routerLink="/shop">Shop</a></li>
    <li><a routerLink="/appointments">Appointments</a></li>
    <li><a routerLink="/contact">Contact us</a></li>
    <li><a routerLink="/login" routerLinkActive = "selected">Login</a></li>
    <!-- <li ><app-profile-modal></app-profile-modal></li> -->
</ul>
